{%extends 'base.html'%}
{% block content %}

<div class="container">

    <div class="row">
        {% if images%}
        <h2>Found {{ images|length }} image(s) for {{message}} category</h2>
        {% else %}
        <h2> Found 0 images for {{message}} category</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if images %}
        {% for image in images %}
        <div class="col-sm-6 col-md-3">
            <h1>{{image.image_name}}</h1>
            <img src="{{image.image.cdn_url}}"  class="img-responsive img-thumbnail" alt="">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}